<div class="form-container">
  <div class="form-card">
    <h2>{{ isEditMode() ? 'Edit Recipe' : 'New Recipe' }}</h2>

    @if (errorMessage()) {
      <div class="error-banner">{{ errorMessage() }}</div>
    }

    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title</label>
        <input id="title" type="text" formControlName="title" placeholder="Ex. Pasta Carbonara" />
        @if (recipeForm.get('title')?.invalid && recipeForm.get('title')?.touched) {
          <div class="error">Title is a required field.</div>
        }
      </div>

      <div class="form-group">
        <label for="categoryId">Category</label>
        <select id="categoryId" formControlName="categoryId">
          <option value="" disabled>Select a category</option>
          @if (categories(); as catList) {
            @for (category of catList; track category.id) {
              <option [value]="category.id">{{ category.name }}</option>
            }
          }
        </select>
        @if (recipeForm.get('categoryId')?.invalid && recipeForm.get('categoryId')?.touched) {
          <div class="error">Category is a required field.</div>
        }
      </div>

      <div class="form-group">
        <label>Ingredients</label>
              
        <div class="ingredients-list">
          @for (control of ingredients.controls; track $index; let i = $index) {
            <div class="ingredient-badge">
              <span>
                <strong>{{ control.get('quantity')?.value }} {{ control.get('unit')?.value }}</strong> 
                - {{ control.get('name')?.value }}
              </span>
              <button type="button" class="btn-remove" (click)="removeIngredient(i)">&times;</button>
            </div>
          }
        </div>

        @if (isAddingIngredient()) {
          <div class="add-ingredient-box">
            <div class="inputs-row">
              <input type="text" [formControl]="tempName" placeholder="ingredient (ex. Onion)" />
              <input type="number" [formControl]="tempQuantity" placeholder="Quantity (ex: 1)" />
              <input type="text" [formControl]="tempUnit" placeholder="Unit (ex: kg, spoon)" />
            </div>
            <div class="box-actions">
              <button type="button" class="btn-save" (click)="confirmAddIngredient()">Save</button>
              <button type="button" class="btn-cancel" (click)="cancelAdd()">Cancel</button>
            </div>
          </div>
        } @else {
          <button type="button" class="btn-toggle-add" (click)="showAddForm()">
            + Add ingredient
          </button>
          @if (recipeForm.get('ingredients')?.invalid && recipeForm.get('ingredients')?.touched) {
                <div class="error">At least one ingredient is required.</div>
              }
        }
        
        
        
      </div>

      <div class="form-group">
        <label for="instructions">Instructions</label>
        <textarea id="instructions" rows="5" formControlName="instructions" placeholder="Steps..."></textarea>
        @if (recipeForm.get('instructions')?.invalid && recipeForm.get('instructions')?.touched) {
          <div class="error">Instructions is a required field.</div>
        }
      </div>

      <div class="actions">
        <button type="submit" [disabled]="recipeForm.invalid || isLoading()">
          @if (isLoading()) {
            Saving...
          } @else {
            {{ isEditMode() ? 'Update' : 'Create Recipe' }}
          }
        </button>
        <a routerLink="/recipes" class="btn-cancel">Cancel</a>
      </div>
    </form>
  </div>
</div>